@import url("dark.css") (prefers-color-scheme: dark);
@import url("light.css") (prefers-color-scheme: light);

@import url('https://rsms.me/inter/inter.css');

html,
button,
input {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {

	html,
	button,
	input {
		font-family: 'Inter var', sans-serif;
	}
}

* {
	outline: none;
}

html,
body {
	position: relative;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-y: scroll;
}

a {
	text-decoration: none;

	cursor: pointer;
}

body {
	background-color: #111;
	color: #bbb;
}

a {
	color: #88f;
}