:root {
  --bg-color: #f8f8f8;
  --color-bg-1: #333;
  --color-bg-1-alt: #fff;
  --color-bg-2: #222;
  --color-bg-2-alt: #dadce0;
  --color-bg-3: #505050;
  --color-bg-3-alt: #505050;

  --code-block-border: 1px solid #e1e4e8;
  --code-block-background: #fff;

  --color-border-1: #333;

  --color-bg-tab-selected: #333;
  --text-color-tab-selected: #fff;
  --text-color-tab: #888;
  --text-color-tab-hover: #222;


  --color-tag-border: #dadce0;
  --color-tag-hover: #5757ff0d;

  --card-shadow-color: 60, 64, 67;
  --card-shadow: rgba(var(--card-shadow-color), .1) 0 1px 3px 1px;

  --text-color: #222;
  --text-color-alt: #bbb;
  --text-color-h1: #111;
  --text-color-h1-alt: #fff;
  --text-color-h2: #222;
  --text-color-h3: #333;
  --text-color-a: #5757ff;
  --text-color-a-alt: #9898ff;
}

.hljs,
.hljs-subst {
  color: #24292e;
}

.hljs-comment {
  color: #6a737d;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
  color: #d73a49;
}


/* User color: hue: 0 */

.hljs-string,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #d14;
}

.hljs-type {
  color: #68f;
}

.hljs-number {
  color: #005cc5;
}

.hljs-title,
.hljs-section {
  color: #6f42c1;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #005cc5;
  font-weight: bold;
}


/* Language color: hue: 90; */

.hljs-literal {
  color: #005cc5;
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #005cc5;
}


/* Meta color: hue: 200 */

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}


/* Misc effects */

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}